<div style="text-align: center; background-color: #0A6EBD; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
 Final Project Programming for Data Science
</div>

<div style="text-align: center; background-color: #5A96E3; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
  Exploring Data</div>

## Import libraries

In [1]:
import numpy as np
import pandas as pd

## Read data from csv file

In [2]:
udemy_df = pd.read_csv("./Data/data.csv")

In [3]:
udemy_df.head(10)

,id,title,is_paid,price,headline,num_subscribers,avg_rating,num_reviews,num_comments,num_lectures,content_length_min,published_time,last_update_date,category,subcategory,topic,language,course_url,instructor_name,instructor_url
0,4715.0,Online Vegan Vegetarian Cooking School,True,24.99,Learn to cook delicious vegan recipes. Filmed ...,2231.0,3.75000,134.0,42.0,37.0,1268.0,2010-08-05T22:06:13Z,2020-11-06,Lifestyle,Food & Beverage,Vegan Cooking,English,/course/vegan-vegetarian-cooking-school/,Angela Poch,/user/angelapoch/
1,1769.0,The Lean Startup Talk at Stanford E-Corner,False,0.00,Debunking Myths of Entrepreneurship A startup ...,26474.0,4.50000,709.0,112.0,9.0,88.0,2010-01-12T18:09:46Z,NaN,Business,Entrepreneurship,Lean Startup,English,/course/the-lean-startup-debunking-myths-of-en...,Eric Ries,/user/ericries/
2,5664.0,"How To Become a Vegan, Vegetarian, or Flexitarian",True,19.99,Get the tools you need for a lifestyle change ...,1713.0,4.40000,41.0,13.0,14.0,82.0,2010-10-13T18:07:17Z,2019-10-09,Lifestyle,Other Lifestyle,Vegan Cooking,English,/course/see-my-personal-motivation-for-becomin...,Angela Poch,/user/angelapoch/
3,7723.0,How to Train a Puppy,True,199.99,Train your puppy the right way with Dr. Ian Du...,4988.0,4.80000,395.0,88.0,36.0,1511.0,2011-06-20T20:08:38Z,2016-01-13,Lifestyle,Pet Care & Training,Pet Training,English,/course/complete-dunbar-collection/,Ian Dunbar,/user/ian-dunbar/
4,8157.0,Web Design from the Ground Up,True,159.99,Learn web design online: Everything you need t...,1266.0,4.75000,38.0,12.0,38.0,569.0,2011-06-23T18:31:20Z,NaN,Design,Web Design,Web Design,English,/course/web-design-from-the-ground-up/,E Learning Lab,/user/edwin-ang-2/
5,8139.0,14-Day Yoga Detox and Empowerment Course,True,29.99,"Lose weight, get healthier and fit on all leve...",20505.0,4.53012,796.0,135.0,31.0,1163.0,2011-07-15T04:13:24Z,2018-05-22,Health & Fitness,Yoga,Yoga,English,/course/yoga-for-weight-loss-and-core-strength...,Sadie Nardini,/user/sadienardini/
6,2762.0,Simple Strategy for Swing Trading the Stock Ma...,True,39.99,Use my favorite Technical Indicator and the Tr...,3309.0,3.85000,958.0,241.0,8.0,80.0,2010-04-14T16:32:46Z,2019-03-07,Finance & Accounting,Investing & Trading,Swing Trading,English,/course/swing-trading-the-stock-market/,Tom Watson,/user/tomwatson/
7,8082.0,Ruby Programming for Beginners,True,74.99,Learn Ruby Programming the fast and easy way!,28824.0,4.00000,741.0,189.0,56.0,363.0,2011-07-08T21:32:55Z,2022-09-26,Development,Programming Languages,Ruby,English,/course/learn-ruby-programming-in-ten-easy-steps/,Huw Collingbourne,/user/huwcollingbourne/
8,8075.0,How to Create an Awesome Demo Video for Your B...,True,149.99,You don't need to spend $10K in order to have ...,10761.0,3.90000,349.0,101.0,87.0,526.0,2011-07-06T14:06:34Z,2020-11-22,Business,Media,Demo Video,English,/course/how-to-create-awesome-demo-videos/,Miguel Hernandez,/user/miguelhernandez/
9,8069.0,Curso SEO Online,True,99.99,Curso SEO práctico. Aprenda a posicionar su si...,483.0,4.65000,100.0,45.0,73.0,373.0,2012-07-03T17:03:28Z,2020-02-28,Marketing,Search Engine Optimization,SEO,Spanish,/course/curso-de-posicionamiento-en-buscadores...,Juan Jose Ramos,/user/juanjo-ramos/

## Data Exploring

### How many rows and how many columns?

In [4]:
num_rows = udemy_df.shape[0]
num_cols = udemy_df.shape[1]
print(f"Your data has {num_rows} rows and {num_cols} columns")

Your data has 209734 rows and 20 columns

### What is the meaning of each row?

Each row represents a specific course with details, providing information about the course's characteristics, ratings, prices, and other relevant information.

### Are there duplicated rows?

In [5]:
num_duplicated_rows = udemy_df.duplicated().sum()
if num_duplicated_rows:
    print(f"Your data has {num_duplicated_rows} duplicated rows")
else:
    print("Your data has no duplicated row!")

Your data has no duplicated row!

### What is the meaning of each column?

- `id`: ID of the course
- `title`: Title of the course
- `is_paid`: Have to pay for the course?
- `price`: Price of the course
- `headline`: description of the coursr
- `num_subscribers`: Number of people registered for the course
- `avg_rating`: Average rating
- `num_reviews`: Number of course reviews
- `num_comments`: Number of comments
- `num_lectures`: Number of lectures of the course
- `content_length_min`: total time of course videos (minutes)
- `published_time`: Date published
- `last_update_time`: time for last updated by system 
- `category`: category of the course
- `subcategory`: subcategory of the course
- `topic`: topic of the course
- `language`: language used in course
- `courses_url`: Course URL 
- `instructor_name`: name of constructor
- `instructor_url`: udemy link of instructor

### What is the current data type of each column? Are there columns having inappropriate data types?

In [6]:
type_df = pd.DataFrame(udemy_df.dtypes, columns=['Type']).T
type_df

,id,title,is_paid,price,headline,num_subscribers,avg_rating,num_reviews,num_comments,num_lectures,content_length_min,published_time,last_update_date,category,subcategory,topic,language,course_url,instructor_name,instructor_url
Type,float64,object,bool,float64,object,float64,float64,float64,float64,float64,float64,object,object,object,object,object,object,object,object,object

- Columns: `published_time`, `last_update_date` are used to represent time, it should be of type `datetime` instead of `object`

- Convert `published_time`, `last_update_date` to datetime

In [7]:
udemy_df['published_time'] = pd.to_datetime(udemy_df['published_time'], format='%Y-%m-%dT%H:%M:%SZ')
udemy_df['last_update_date'] = pd.to_datetime(udemy_df['last_update_date'], format='%Y-%m-%d')

### With each numerical column, how are values distributed?

#### What is the percentage of missing values?

In [8]:
numerical_df = udemy_df.select_dtypes(include='number')
missing_percentage = numerical_df.isnull().mean() * 100
pd.DataFrame(missing_percentage, columns=['Percentage of missing values(%)'])

                    Percentage of missing values(%)
id                                              0.0
price                                           0.0
num_subscribers                                 0.0
avg_rating                                      0.0
num_reviews                                     0.0
num_comments                                    0.0
num_lectures                                    0.0
content_length_min                              0.0

#### Min? max? Are they abnormal?

In [9]:
min_max = numerical_df.agg(['min', 'max'])
min_max

,id,price,num_subscribers,avg_rating,num_reviews,num_comments,num_lectures,content_length_min
min,1769.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0
max,4914146.0,999.99,1752364.0,5.0,436457.0,39040.0,1095.0,22570.0

- There is nothing abnormal about calculating the minimum and maximum values of numeric columns.

### With each categorical column, how are values distributed?

In [10]:
cat_col_info_df = udemy_df.select_dtypes(include=['object','bool'])
def missing_ratio(s):
    temp=s.isnull().sum()
    result=float(temp)/len(s.index) *100
    return result
def num_values(s):
    temp=s.copy()
    a=list(set(temp))
    has_missing_values = temp.isnull()
    if True in has_missing_values.values:
        return len(a)-1            
    return len(a)
def value_ratios(s):
    dict={}
    temp=s.copy()
    count=temp.value_counts()
    count.sort_values(ascending=False)
    index=count.index
    lenNotMissing=s.isnull().sum()
    for i in index:
        dict[i]= round(count[i]/(len(s)-lenNotMissing), 2)
    return dict
cat_col_info_df = cat_col_info_df.agg([missing_ratio, num_values,value_ratios])
display(cat_col_info_df)

,title,is_paid,headline,category,subcategory,topic,language,course_url,instructor_name,instructor_url
missing_ratio,0.0,0.0,0.012873,0.0,0.0,0.456769,0.0,0.0,0.002384,0.203591
num_values,208257,2,202744,13,130,3818,79,209734,72731,73514
value_ratios,"{'Python for Beginners': 0.0, 'Certified Dance...","{True: 0.9, False: 0.1}","{'Curso básico desde 0': 0.0, 'Essential Engli...","{'Development': 0.15, 'IT & Software': 0.15, '...","{'Other IT & Software': 0.05, 'Web Development...","{'Python': 0.01, 'Excel': 0.01, 'English Langu...","{'English': 0.59, 'Portuguese': 0.09, 'Spanish...",{'/course/vegan-vegetarian-cooking-school/': 0...,"{'Packt Publishing': 0.01, 'Bluelime Learning ...","{'/user/packtpublishing/': 0.01, '/user/javasc..."

### Save clean data to file

In [11]:
udemy_df.to_csv('./Data/udemy.csv',  index=False)