<div style="text-align: center; background-color: #0A6EBD; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
 Final Project Programming for Data Science
</div>

<div style="text-align: center; background-color: #5A96E3; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
  Exploring Data</div>

## Import libraries

In [1]:
import numpy as np
import pandas as pd

## Read data from csv file

In [2]:
udemy_df = pd.read_csv("Data/data.csv")

## Data Exploring

### What is the meaning of each column?

- `id`: ID of the course
- `title`: Title of the course
- `url`: Course URL 
- `is_paid`: Have to pay for the course?
- `num_subscribers`: Number of people registered for the course
- `avg_rating`: Average rating
- `avg_rating_recent`: Recent average rating
- `rating`: Rating of the course
- `num_reviews`: Number of course reviews
- `is_wishlisted`: Has the course been added to the wishlist?
- `num_published_lectures`: Number of lectures published
- `num_published_practice_tests`: Number of practice tests published
- `created`: Date crated
- `published_time`: Date published
- `discount_price__amount`: Discount amount 
- `discount_price__currency`: Currency of the discount amount
- `discount_price__price_string`: Discount amount but in format string
- `price_detail__amount`: Price detail amount
- `price_detail__currency`: Currency of the price detail
- `price_detail__price_string`: Price detail but in format string

### What is the current data type of each column? Are there columns having inappropriate data types?

In [3]:
type_df = pd.DataFrame(udemy_df.dtypes, columns=['Type']).T
type_df

,id,title,url,is_paid,num_subscribers,avg_rating,avg_rating_recent,rating,num_reviews,is_wishlisted,num_published_lectures,num_published_practice_tests,created,published_time,discount_price__amount,discount_price__currency,discount_price__price_string,price_detail__amount,price_detail__currency,price_detail__price_string
Type,int64,object,object,bool,int64,float64,float64,float64,int64,bool,int64,int64,object,object,float64,object,object,float64,object,object

- Columns: `created`, `published_time` are used to represent time, it should be of type `datetime` instead of `object`
- Columns: `discount_price__amount`, `discount_price__currency`, `discount_price__price_string` used to represent discount, but only use column: `discount_price__amount`, so we'll drop columns: `discount_price__currency`, `discount_price__price_string`
-  Columns: `price_detail__amount`, `price_detail__currency`, `price_detail__price_string` used to represent price detail, but only use column: `price_detail__amount`, so we'll drop columns: `price_detail__currency`, `price_detail__price_string`

- Convert `created`, `published_time` to datetime

In [4]:
udemy_df['created'] = pd.to_datetime(udemy_df['created'], format='%Y-%m-%dT%H:%M:%SZ')
udemy_df['published_time'] = pd.to_datetime(udemy_df['published_time'], format='%Y-%m-%dT%H:%M:%SZ')

- Drop `discount_price__currency`, `discount_price__price_string`, `price_detail__currency`, `price_detail__price_string`

In [5]:
udemy_df = udemy_df.drop(['discount_price__currency', 'discount_price__price_string', 'price_detail__currency', 'price_detail__price_string'], axis=1)

### With each numerical column, how are values distributed?

#### What is the percentage of missing values?

In [6]:
numerical_df = udemy_df.select_dtypes(include='number')
missing_percentage = numerical_df.isnull().mean() * 100
pd.DataFrame(missing_percentage, columns=['Percentage of missing values(%)'])

                              Percentage of missing values(%)
id                                                   0.000000
num_subscribers                                      0.000000
avg_rating                                           0.000000
avg_rating_recent                                    0.000000
rating                                               0.000000
num_reviews                                          0.000000
num_published_lectures                               0.000000
num_published_practice_tests                         0.000000
discount_price__amount                               8.003326
price_detail__amount                                 2.174769

#### Min? max? Are they abnormal?

In [7]:
min_max = numerical_df.agg(['min', 'max'])
min_max

,id,num_subscribers,avg_rating,avg_rating_recent,rating,num_reviews,num_published_lectures,num_published_practice_tests,discount_price__amount,price_detail__amount
min,2762,0,0.0,0.0,0.0,0,0,0,455.0,1280.0
max,3486006,564444,5.0,5.0,5.0,188941,699,6,3200.0,12800.0

- There is nothing abnormal about calculating the minimum and maximum values of numeric columns.